* {
  margin: 0;
}

h1 {
  border: 4px solid black;
  border-radius: 20px;
  text-indent: 20px;
  margin: 50px;
}

/* CSS 우선순위 */
#priority3 {
  color:yellow;
}

/* CSS Selector */
/* Type Selector */
h2 {
  color: deepskyblue;
  font-style: italic;
}

/* ID Selector */
#id-selector {
  color: red;
}

/* Class Selector */
.class-selector {
  text-transform: uppercase;
}

.blue {
  color: blue;
}

.white {
  color: gray;
}

/* Attribute Selector */
a.attribute-selector[target] {
  color: hotpink;
}

a.attribute-selector[href="https://example.org"] {
  color: tomato;
}

a.attribute-selector[href^="https://"] {
  font-style: italic;
}

a.attribute-selector[href$=".com"] {
  font-weight: bold;
}

a.attribute-selector[href*="examples"] {
  color: royalblue;
}

/* Pseudo-Class Selector */
.player:first-child {
  color:blueviolet;
}

.player:last-child {
  color:gold;
}

.player:nth-child(3) {
  font-style: italic;
}

.player:nth-child(2n) {
  font-weight: bold;
}

.player:nth-child(odd) {
  text-decoration: underline;
}

.sportList p:first-of-type {
  color: white;
}

.sportList div:last-of-type {
  color: red;
}

.sportList p:nth-of-type(odd) {
  background-color: greenyellow;
}

input.input:not(.pw) {
  background-color: grey;
  color: white;
}

a.pseudo-class-selector:link {
  color:gold;
}

input[type=button] {
  background-color: lightskyblue;
  border: none;
}

input.hover[type=button]:hover {
  background-color: lime;
  border: none;
}

input.active[type=button]:active {
  background-color: red;
  border: none;
}

input.focus[type=text]:focus {
  background-color: lime;
}

input.enabled[type=text]:enabled {
  background-color: yellow;
}

input.disabled[type=text]:disabled {
  background-color: skyblue;
}

input.checked[type=radio]:checked {
  outline: 3px solid red;
}

input.checked[type=checkbox]:checked {
  outline: 3px solid teal;
}

/* Pseudo-Element Selector */
.color::before { 
  content: "color ";
  color: darkorange;
}

.favorite::before { 
  content: "😍";
}

.color::after { 
  content: " 색";
  color: olive;
}

.first-letter::first-letter {
  font-size: 1.5rem;
}

.first-line::first-line {
  font-size: 1.5rem;
  color: red;
}

.selection::selection {
  color: white;
  background-color: seagreen;
}

/* Selector Combination */
ul.combination li:last-of-type {
  color:aqua;
}

ol.combination > li:last-of-type {
  color: red;
}

code.combination ~ p.combination {
  color:darkorange;
}

code.combination + p.combination {
  background-color: blue;
}

/* initial */
div.initial, div.inherit, div.unset {
  border: 1px solid black;
  margin: 10px;
}

.initial.parent {
  color: blueviolet;
}

/* Inherit */
.inherit.parent {
  font-size: 30px;
}

.inherit.child2 {
  all: inherit;
}

/* unset */
.unset.parent {
  font-size: 30px;
  font-weight: bold;
  color: red;
}

.unset.child2 {
  all: unset;
}

/* Font Property */
p.font-property {
  color:salmon;
  font-size: 24px;
  font-style: italic;
  font-weight: bold;
  font-family: Times, Times New Roman, Georgia, serif;
  line-height: 2.5;
  letter-spacing: 15px;
  word-spacing: 15px;
}

p.font-shorthand-property {
  font: italic bold 24px/2.5 Times, Times New Roman, Georgia, serif;
}

p.text-align {
  text-align: center;
}

p.text-indent1 {
  text-indent: 20px;
}

div.container {
  text-indent: 50px;
}

p.text-decoration {
  text-decoration: line-through red 5px wavy;
}

p.word-break {
  width: 100px;
  background-color: cadetblue;
  word-break: break-all;
}

p.text-transform {
  text-transform: capitalize;
}

div.length-parent, div.length-child {
  border: 1px solid black;
}

div.length-parent {
  color: blue;
  font-size: 24px;
}

div.length-child {
  color: red;
  font-size: 1.5em;
}

/* Box Model */
div.boxsizing1, div.boxsizing2 {
  width: 100px;
  height: 100px;
  border: 5px solid black;
}
div.boxsizing1 {
  box-sizing: content-box;
}

div.boxsizing2 {
  box-sizing: border-box;
}

/* margin */
div.margin-parent { 
  width: 300px;
  height: 300px;
  border: 5px solid aqua;
}

div.margin-child { 
  width: 50px;
  height: 50px;
  border: 5px solid tomato;

  margin: 10px;
}

/* margin collapsing */
div.collapsing-box {
  width: 100px;
  height: 100px;
  background-color: turquoise;
  margin: 20px;
}

div.collapsing-parent {
  width: 300px;
  height: 300px;
  background-color: violet;
  margin-top: 20px;
}

div.collapsing-child {
  width: 100px;
  height: 100px;
  background-color: darkorange;
  margin-top: 100px;
}

div.border-radius {
  width: 200px;
  height: 200px;
  background-color: yellow;
  border: 5px solid black;
  border-radius: 50px 10px 100px;
}

div.content-box {
  box-sizing: content-box;
  width: 300px;
  height: 100px;
  border: 5px solid springgreen;
  padding: 10px;
}

div.border-box {
  box-sizing: border-box;
  width: 300px;
  height: 100px;
  border: 5px solid deepskyblue;
  padding: 10px;
}

/* Layout */
div.display {
  width: 100px;
  height: 100px;
  background-color: lightcoral;
}

div.display:nth-child(2) {
  /* display: none; */
  visibility: hidden;
}

div.float {
  width: 200px;
  height: 200px;
  background-color: lightgreen;
  border: 10px solid lightpink;
  float: right;
}

p.float {
  font-size: 20px;
  background-color: lightslategrey;
}

div.position {
  width: 200px;
  height: 200px;
  background-color: lightskyblue;
  border: 5px solid darkblue;
  margin: 0 50px;
}

div.position-container {
  position: relative;
}

#position-example {
  background-color: mediumblue;
  position: sticky;
  top: 100px;
  left: 100px;
}

div.overflow { 
  width: 200px;
  height: 200px;
  background-color: lightpink;
  overflow: auto;
}

div.background {
  height: 500px;
  background-color: blue;
  background-image: url(https://interactive-examples.mdn.mozilla.net/media/examples/moon.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-origin: border-box;
  background-size: cover;
}

/* Transform */
div.transform-box {
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  border: 10px solid gray;
  background: lightblue;
  margin: 50px;
}

div.scale {
  transform: scale(0.5, 1);
  transition: 10s;
}

div.rotate {
  transform: rotate(45deg);
  transition: 10s;
}

div.translate {
  transform: translate(100%, -50px);
  transition: 10s;
}

div.skew {
  transform: skew(-20deg);
  transition: 10s;
}

/* Transition */
div.transition1 {
  margin: 50px;
  width: 300px;
  height: 90px;
  border: 2px dashed turquoise;
  background-color: teal;
  font-size: 48px;
  text-align: center;
  color: wheat;

  transition-property: font-size, width;
  transition-duration: 2s;
}

div.transition1:hover {
  width: 200px;
  background-color: cyan;
  color: black;
  font-size: 24px;
}

div.transition2 {
  margin: 100px;
  width: 100px;
  height: 100px;
  border: 10px solid cornflowerblue;
  background-color: lightskyblue;
  border-radius: 50%;
  
  transition: all 1s ease 1s;
}

div.transition2:hover {
  transform: rotate(180deg) translate(100px);
}

/* Animation */
div.goldBox {
  margin: 50px;
  width: 100px;
  height: 100px;
  border: 10px solid gold;
  background-color: lightgoldenrodyellow;
  border-radius: 30px;
  animation: my-animation 1s infinite alternate;
}

div.animation1 {
  animation-iteration-count: 2;
}

div.animation2 {
  animation-delay: 1s;
  animation-iteration-count: 2;
  animation-direction: reverse;
}

div.animation3 {
  animation-delay: -0.4s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-play-state: paused;
}

div.animation3:hover {
  animation-play-state: running;
}

div.animation4 {
  animation: fill-mode 3s linear 1s;
  animation-fill-mode: backwards;
}

@keyframes my-animation {
  from {
    width: 100px;
    font-size: 20px;
  }
  to {
    width: 300px;
    font-size: 40px;
  }
}

@keyframes fill-mode {
  0% {
    background-color: red;
  }
  50% {
    width: 200px;
  }
  100% {
    background-color: black;
  }
}

/* Flex Box */
div.flex-container {
  border: 10px dashed gold;
}

div.flex-item {
  width: 100px;
  height: 100px;
  background-color: gray;
  border: 3px solid dimgrey;
}

div.flex-item.inline-block {
  display: inline-block;
}

div.flex-item.float {
  float: left;
}

div.flex-item.flex {
  display: flex;
}

div.flex-direction {
  flex-direction: row-reverse;
}