* {
  margin: 0;
}

h1 {
  border: 4px solid black;
  border-radius: 20px;
  text-indent: 20px;
}

/* CSS 우선순위 */
#priority3 {
  color:yellow;
}

/* CSS Selector */
/* Type Selector */
h2 {
  color: deepskyblue;
  font-style: italic;
}

/* ID Selector */
#id-selector {
  color: red;
}

/* Class Selector */
.class-selector {
  text-transform: uppercase;
}

.blue {
  color: blue;
}

.white {
  color: gray;
}

/* Attribute Selector */
a.attribute-selector[target] {
  color: hotpink;
}

a.attribute-selector[href="https://example.org"] {
  color: tomato;
}

a.attribute-selector[href^="https://"] {
  font-style: italic;
}

a.attribute-selector[href$=".com"] {
  font-weight: bold;
}

a.attribute-selector[href*="examples"] {
  color: royalblue;
}

/* Pseudo-Class Selector */
.player:first-child {
  color:blueviolet;
}

.player:last-child {
  color:gold;
}

.player:nth-child(3) {
  font-style: italic;
}

.player:nth-child(2n) {
  font-weight: bold;
}

.player:nth-child(odd) {
  text-decoration: underline;
}

.sportList p:first-of-type {
  color: white;
}

.sportList div:last-of-type {
  color: red;
}

.sportList p:nth-of-type(odd) {
  background-color: greenyellow;
}

input.input:not(.pw) {
  background-color: grey;
  color: white;
}

a.pseudo-class-selector:link {
  color:gold;
}

input[type=button] {
  background-color: lightskyblue;
  border: none;
}

input.hover[type=button]:hover {
  background-color: lime;
  border: none;
}

input.active[type=button]:active {
  background-color: red;
  border: none;
}

input.focus[type=text]:focus {
  background-color: lime;
}

input.enabled[type=text]:enabled {
  background-color: yellow;
}

input.disabled[type=text]:disabled {
  background-color: skyblue;
}

input.checked[type=radio]:checked {
  outline: 3px solid red;
}

input.checked[type=checkbox]:checked {
  outline: 3px solid teal;
}

/* Pseudo-Element Selector */
.color::before { 
  content: "color ";
  color: darkorange;
}

.favorite::before { 
  content: "😍";
}

.color::after { 
  content: " 색";
  color: olive;
}

.first-letter::first-letter {
  font-size: 1.5rem;
}

.first-line::first-line {
  font-size: 1.5rem;
  color: red;
}

.selection::selection {
  color: white;
  background-color: seagreen;
}

/* Selector Combination */
ul.combination li:last-of-type {
  color:aqua;
}

ol.combination > li:last-of-type {
  color: red;
}

code.combination ~ p.combination {
  color:darkorange;
}

code.combination + p.combination {
  background-color: blue;
}

/* initial */
div.initial, div.inherit, div.unset {
  border: 1px solid black;
  margin: 10px;
}

.initial.parent {
  color: blueviolet;
}

/* Inherit */
.inherit.parent {
  font-size: 30px;
}

.inherit.child2 {
  all: inherit;
}

/* unset */
.unset.parent {
  font-size: 30px;
  font-weight: bold;
  color: red;
}

.unset.child2 {
  all: unset;
}

/* Font Property */
p.font-property {
  color:salmon;
  font-size: 24px;
  font-style: italic;
  font-weight: bold;
  font-family: Times, Times New Roman, Georgia, serif;
  line-height: 2.5;
  letter-spacing: 15px;
  word-spacing: 15px;
}

p.font-shorthand-property {
  font: italic bold 24px/2.5 Times, Times New Roman, Georgia, serif;
}

p.text-align {
  text-align: center;
}

p.text-indent1 {
  text-indent: 20px;
}

div.container {
  text-indent: 50px;
}

p.text-decoration {
  text-decoration: line-through red 5px wavy;
}

p.word-break {
  width: 100px;
  background-color: cadetblue;
  word-break: break-all;
}

p.text-transform {
  text-transform: capitalize;
}

div.length-parent, div.length-child {
  border: 1px solid black;
}

div.length-parent {
  color: blue;
  font-size: 24px;
}

div.length-child {
  color: red;
  font-size: 1.5em;
}

/* Box Model */
div.boxsizing1, div.boxsizing2 {
  width: 100px;
  height: 100px;
  border: 5px solid black;
}
div.boxsizing1 {
  box-sizing: content-box;
}

div.boxsizing2 {
  box-sizing: border-box;
}

/* margin */
div.margin-parent { 
  width: 300px;
  height: 300px;
  border: 5px solid aqua;
}

div.margin-child { 
  width: 50px;
  height: 50px;
  border: 5px solid tomato;

  margin: 10px;
}

/* margin collapsing */
div.collapsing-box {
  width: 100px;
  height: 100px;
  background-color: turquoise;
  margin: 20px;
}

div.collapsing-parent {
  width: 300px;
  height: 300px;
  background-color: violet;
  margin-top: 20px;
}

div.collapsing-child {
  width: 100px;
  height: 100px;
  background-color: darkorange;
  margin-top: 100px;
}